<nav class="navbar navbar-light bg-warning">
    <a href="/" class="navbar-brand">
        <img src="/img/unip.png" width="75">
    </a>
    <a href="/" class="navbar-brand">Home</a>
    <a href="/perguntas" class="navbar-brand">Perguntas</a>

</nav>