<nav class="navbar navbar-light bg-primary">
    <div style="margin-left: 500px;">
        <a href="/" class="navbar-brand" alt="home">
            <img src="https://icon-icons.com/icons2/1744/PNG/256/3643769-building-home-house-main-menu-start_113416.png" width="45">
        </a>
    </div>
    <div style="margin-right: 500px;">
        <a href="/fazerpergunta" class="navbar-brand" alt="perguntar">
            <img src="https://icon-icons.com/icons2/1805/PNG/256/4230548-confusion-doubt-frustration-question_115011.png" width="45">
        </a>
    </div>
</nav>