<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form">
            <div class="card-header">
                <h4>Realizar pergunta:</h4>
            </div>
            <div class="card-body"> 
                <form method="post" action="/salvarpergunta">
                    <label>Titulo</label>
                    <input type="text" class="form-control" name="titulo">
                    <br>
                    <label>Descrição</label>
                    <textarea  class="form-control" name="desc"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>